/*Navbar*/
nav {
    background-color: grey !important;
    /*height: 56px;*/
    /*line-height: 56px;*/
}

nav .brand-logo {
  padding-left: 20px;
}
/*.popover-header {
  background: blue;
}
.popover{
    color: red;
    font-size: 10px;
}*/

/* Timeline */

.project-line {
  position: absolute;
  z-index: 1;
  left: 45px;
  width:4px;
  height: 100%;
  background: grey;
}

.action-button {
  position: relative;
  z-index: 10;
  height: 45px;
  width: 45px;
  margin: 0px 10px 20px 10px;
  /*padding: 5px 5px; */
  border: 4px grey solid;
  border-radius: 50%;
  outline: 0 !important;
  overflow:hidden;
  cursor: pointer;
  display: block;

}

.done {
  background: grey;
}
.not_done{
  background: white;
}

/* Text Styles */
p {
  font-size: 0.5em;
}

h2 {
  text-align : center;
}

h6 {
  color: red;  
}

/* Grid */

.project {
  flex-basis: 100%;
}

@media screen and (min-width: 500px) {
  .row-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
  }
  .project {
    flex: 1;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}

/* Style */

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  color: 'black';
  background: 'white';
  margin-bottom: 70px;
}

.project {
  padding: 15px;
  border: 1px solid #666;
  margin: 5px 0;
  position: relative;
  /*background: #7fa7e8;*/
}

