/*Navbar*/
nav {
    background-color: white;
    /*height: 56px;*/
    /*line-height: 56px;*/
}

nav .brand-logo {
  padding-left: 20px;
  color: black !important;
}

nav ul a {
  color: #5A8CDF;
}

/*Colors*/

.bg_blue {
  background: blue;
}
.bg_red {
  background: red;
}
.bg_green {
  background: green;
}
.bg_yellow {
  background: yellow;
}
.bg_purple {
  background: purple;
}
.bg_cyan {
  background: cyan;
}
.border_blue{
 border: 4px blue solid;
}
.border_red{
  border: 4px red solid;
}
.border_green{
    border: 4px green solid;
}
.border_yellow{
  border: 4px yellow solid;
}
.border_purple{
    border: 4px purple solid;
}
.border_cyan{
    border: 4px cyan solid;
}

/*.grey_shadow {
    box-shadow: 0 0 20px rgba(33,33,33,.2)
}*/

.blue_shadow {
    box-shadow: 0 0 20px blue !important;
}
.red_shadow {
    box-shadow: 0 0 20px red !important;
}
.green_shadow {
    box-shadow: 0 0 20px green !important;
}
.yellow_shadow {
    box-shadow: 0 0 20px yellow !important;
}
.purple_shadow {
    box-shadow: 0 0 20px purple !important;
}
.cyan_shadow {
    box-shadow: 0 0 20px cyan !important;
}

.grey_shadow {
    box-shadow: 0 0 20px rgba(33,33,33,.2) !important;
}
/*a.material-tooltip {
  top: 734px !important;
}

i.material-tooltip {
  top: 0px !important;
}*/
/*.popover-header {
  background: blue;
}
.popover{
    color: red;
    font-size: 10px;
}*/

/* Timeline */

.project-line {
  position: absolute;
  z-index: 1;
  left: 40px;
  width:4px;
  height: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}


.action-button {
  position: relative;
  z-index: 10;
  height: 35px;
  width: 35px;
  margin: 0px 10px 40px 10px;
  /*padding: 5px 5px; */
  border-radius: 50%;
  outline: 0 !important;
  overflow:hidden;
  cursor: pointer;
  display: block;
  /*box-shadow: 0 1px 2px rgba(0,0,0,0.15);*/
  transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.not_done{
  background: white;
}

/* Text Styles */
p {
  font-size: 0.5em;
}

h2 {
  text-align : center;
}

h6 {
  color: red;  
}

/* Grid */

.project {
  flex-basis: 100%;
}

@media screen and (min-width: 500px) {
  .row-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
  }
  .project {
    flex: 1;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}

/* Style */

body {
  font-family: 'Futura', sans-serif;
  font-size: 1.3em;
  color: 'black';
  background: 'white';
  margin-bottom: 70px;
}

.project {
  padding: 15px;
  border: 1px solid #666;
  margin: 5px 0;
  position: relative;
  /*background: #7fa7e8;*/
}

