body {
    padding: 20px;
}
.slides {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
}
.slide {
    padding: 15px;
    background-color: #2F2F2F;
    margin: 0 0 15px;
    text-align: center;
    color: #FFF;
    border: 2px solid #444;
    height: 60px;
}

.slide-placeholder {
  background: #DADADA;
  position: relative;
}
.slide-placeholder:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  background-color: #FFF;
}

.action-button {
  position: relative;
  z-index: 10;
  height: 45px;
  width: 45px;
  margin: 0px 10px 20px 10px;
  /*padding: 5px 5px; */
  border: 4px grey solid;
  border-radius: 50%;
  outline: 0 !important;
  overflow:hidden;
  cursor: pointer;
  display: block;
}

.done {
  background: grey;
}
.not_done{
  background: white;
}
