{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

{% block content %}

<div class="container">
  <h3>Popover Example</h3>
  <a href="#" title="Header" data-toggle="popover" data-content="Some content">Click Me</a><br>
  <a href="#" title="Header" data-toggle="popover" data-trigger="hover" data-content="Some content">Hover over me</a>
  <a class = "pop" href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>
</div>
<div class="project">
	<!-- Project Focus -->
	<a href="#" class="project-line"></a>
	<!-- Action Buttons -->
	<button class="action-button not_done" data-toggle="popover" 
	     data-trigger="hover" 
	     title="<h5> action['action_name']</h5>" 
	     data-content="Nonsense">	
	</button>
	<button class="action-button not_done" data-toggle="popover" 
	     data-trigger="hover" 
	     title="<h5> action['action_name']</h5>" 
	     data-content="Nonsense">	
	</button>
	<button class="action-button not_done" data-toggle="popover" 
	     data-trigger="hover" 
	     title="<h5> action['action_name']</h5>" 
	     data-content="Nonsense">	
	</button>
	<button class="action-button not_done" data-toggle="popover" 
	     data-trigger="hover" 
	     title="<h5> action['action_name']</h5>" 
	     data-content="Nonsense">	
	</button>
	<button class="action-button not_done" data-toggle="popover" 
	     data-trigger="hover" 
	     title="<h5> action['action_name']</h5>" 
	     data-content="Nonsense">	
	</button>
	<button class="action-button not_done" data-toggle="popover" 
	     data-trigger="hover" 
	     title="<h5> action['action_name']</h5>" 
	     data-content="Nonsense">	
	</button>
</div>



<!-- <div class="pretty p-default p-round p-fill" data-toggle="popover" data-trigger="hover" data-content="Some content">
    <input type="checkbox" />
    <div class="state">
        <label> </label>
    </div>
</div> -->
<!-- 
<script>
$(document).ready(function(){
    console.log("help");
    $(".action-button").on('click', function() {
        // move from list_todo container to list_doing container
        console.log($(this).hasClass("done"));

        // $(this).html("Add To To-Do");
        if ($(this).hasClass("done")) {
        	$(this).removeClass("done");
	        $(this).addClass("not_done");
        } else{
        	$(this).removeClass("not_done");
	        $(this).addClass("done");
        }
	});
});
 	
 </script> -->
<script src="{{url_for('static', filename='js/test.js')}}"></script>

{% endblock %}

</body>
</html>
