{% extends "base.html" %}
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

</head> -->
<body>

{% block content %}
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">What I'm working on ...</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{url_for('logout')}}"><i class="material-icons">person_pin</i> MW</a></li> 
            <!-- replace with name icon -->
	      </ul>
      </div>
    </nav>
  </div>

<div class="container">
  <h3>Popover Example</h3>
  <a href="#" title="Header" data-toggle="popover" data-content="Some content">Click Me</a><br>
  <a href="#" title="Header" data-toggle="popover" data-trigger="hover" data-content="Some content">Hover over me</a>
  <a class = "pop" href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>
</div>
<div class="project">
	<!-- Project Focus -->
	<a href="#" class="project-line"></a>
	<!-- Action Buttons -->
	<button class="action-button not_done" data-toggle="popover" 
	     data-trigger="hover" 
	     title="<h5> action['action_name']</h5>" 
	     data-content="Nonsense">	
	</button>
	<button class="action-button not_done" data-toggle="popover" 
	     data-trigger="hover" 
	     title="<h5> action['action_name']</h5>" 
	     data-content="Nonsense">	
	</button>
	<button class="action-button not_done" data-toggle="popover" 
	     data-trigger="hover" 
	     title="<h5> action['action_name']</h5>" 
	     data-content="Nonsense">	
	</button>
	<button class="action-button not_done" data-toggle="popover" 
	     data-trigger="hover" 
	     title="<h5> action['action_name']</h5>" 
	     data-content="Nonsense">	
	</button>
	<button class="action-button not_done" data-toggle="popover" 
	     data-trigger="hover" 
	     title="<h5> action['action_name']</h5>" 
	     data-content="Nonsense">	
	</button>


	
</div>


<div id="makeMeDraggable"><button class="action-button not_done" data-toggle="popover" 
	     data-trigger="hover" 
	     title="<h5> action['action_name']</h5>" 
	     data-content="Nonsense">	
	</button></div>


<div class='all-slides'>
  <h2 class='slides-title'>Slides</h2>
  <div class='slide'>Slide</div>
  <div class='slide'>Slide</div>
  <div class='slide'>Slide</div>
  <div class='slide'>Slide</div>
  <div class='slide'>Slide</div>
  <div class='slide'>Slide</div>
  <div class='slide'>Slide</div>
  <div class='slide'>Slide</div>
  <div class='slide'>Slide</div>
  <div class='slide'>Slide</div>
</div>
<div class='cloned-slides' id='cloned-slides'></div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red accent-2" href="{{url_for('create_project')}}">
    <i class="large material-icons">add</i>
  </a>
</div>

<script src="{{url_for('static', filename='js/main.js')}}"></script>

{% endblock %}

</body>
</html>
