<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><!-- 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous"> -->

  <!-- TODO: enable ordering by date and click and drag -->
    <link rel="stylesheet" href="./css/main.css">

    <title>Timeline Overview</title>
  </head>
  <body>  
    {% block content %}
  <div class="container">
    <form action="logout" id="logout">
      <span id="username">Logged in as {{ first_name }}</span>
      <input class="action-button" id="logout-button" type="submit" value="Logout">
    </form>
    <div class="row">
      <h1>Your Timeline</h1>
      <div class= "section">
        <a href="{{ url_for('create_project') }}">Add a Project</a>
      </div>
      <div class="divider"></div>
      <div class="section">        
        <table class="striped">
          {% for project in p %}
          <thead>
            <tr>
              <th><a href="{{ url_for('project_focus', value=project['project_name']) }}">{{ project['project_name'] }}</a></td>
              <th>{{ project['description'] }}</td>
              <th>{{ project['due_date'] }}</td>
              <th><a id ="remove" href="{{ url_for('create_action') }}"> + Action</a></th>            
            </tr>
          </thead>
            {% for action in project['actions']%}
            <tr>
              <td>{{ action['action_name'] }}</td>
              <td>{{ action['description'] }}</td>
              <td>{{ action['due_date'] }}</td>
              <td><a id ="remove" href="{{ url_for('remove_action', value=action['action_id']) }}"> - Action</a></td>
            </tr>
            {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
    <div class="row-projects">
      <div class="project">
          <h3>Project 1</h3>
          <div class="action">
            <div class="fab"></div>
            <h5>Action Name</h5>
            <h6>Date</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna risus, vehicula sed erat sed, congue dignissim orci. Pellentesque a massa nec orci iaculis suscipit non quis est. </p>
          </div>
          <div class="action">
            <div class="fab"></div>
            <h5>Action Name</h5>
            <h6>Date</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna risus, vehicula sed erat sed, congue dignissim orci. Pellentesque a massa nec orci iaculis suscipit non quis est. </p>
          </div>
      </div>
      <div class="project">
        <h3>Project 2</h3>
          <div class="action">
            <div class="fab"></div>
            <h5>Action Name</h5>
            <h6>Date</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna risus, vehicula sed erat sed, congue dignissim orci. Pellentesque a massa nec orci iaculis suscipit non quis est. </p>
          </div>
          <div class="action">
            <div class="fab"></div>
            <h5>Action Name</h5>
            <h6>Date</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna risus, vehicula sed erat sed, congue dignissim orci. Pellentesque a massa nec orci iaculis suscipit non quis est. </p>
          </div>
          <div class="action">
            <div class="fab"></div>
            <h5>Action Name</h5>
            <h6>Date</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna risus, vehicula sed erat sed, congue dignissim orci. Pellentesque a massa nec orci iaculis suscipit non quis est. </p>
          </div>
          <div class="action">
            <div class="fab"></div>
            <h5>Action Name</h5>
            <h6>Date</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna risus, vehicula sed erat sed, congue dignissim orci. Pellentesque a massa nec orci iaculis suscipit non quis est. </p>
          </div>
      </div>
      <div class="project">
        <h3>Project 3</h3>
          <div class="action">
            <div class="fab"></div>
            <h5>Action Name</h5>
            <h6>Date</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna risus, vehicula sed erat sed, congue dignissim orci. Pellentesque a massa nec orci iaculis suscipit non quis est. </p>
          </div>
          <div class="action">
            <div class="fab"></div>
            <h5>Action Name</h5>
            <h6>Date</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna risus, vehicula sed erat sed, congue dignissim orci. Pellentesque a massa nec orci iaculis suscipit non quis est. </p>
          </div>
          <div class="action">
            <div class="fab"></div>
            <h5>Action Name</h5>
            <h6>Date</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna risus, vehicula sed erat sed, congue dignissim orci. Pellentesque a massa nec orci iaculis suscipit non quis est. </p>
          </div>
      </div>
      <div class="project">
        <h3>Project 4</h3>
          <div class="action">
            <div class="fab"></div>
            <h5>Action Name</h5>
            <h6>Date</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna risus, vehicula sed erat sed, congue dignissim orci. Pellentesque a massa nec orci iaculis suscipit non quis est. </p>
          </div>
          <div class="action">
            <div class="fab"></div>
            <h5>Action Name</h5>
            <h6>Date</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna risus, vehicula sed erat sed, congue dignissim orci. Pellentesque a massa nec orci iaculis suscipit non quis est. </p>
          </div>
          <div class="action">
            <div class="fab"></div>
            <h5>Action Name</h5>
            <h6>Date</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna risus, vehicula sed erat sed, congue dignissim orci. Pellentesque a massa nec orci iaculis suscipit non quis est. </p>
          </div>
          <div class="action">
            <div class="fab"></div>
            <h5>Action Name</h5>
            <h6>Date</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna risus, vehicula sed erat sed, congue dignissim orci. Pellentesque a massa nec orci iaculis suscipit non quis est. </p>
          </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% endblock %}
  </body>

</html>
